body{
    font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: rgba(123, 23, 10, 0.573);
} 
.half-width{
    width: 40%;
    float: left;
    margin-left: 60px;
    padding-left: 10px;
}
.half-width img{
    width: 100%;
}
